<div class="animated fadeIn faster">
    <h3>Listado</h3>
    <table>
        <thead>
            <tr>
                <th>Valor</th>
                <th>Pipe</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>uppercase</td>
                <td>{{ name | uppercase }}</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>lowercase</td>
                <td>{{ name | lowercase }}</td>
            </tr>
            <tr>
                <td>{{ price }}</td>
                <td>currency:'MXN'</td>
                <td>{{ price | currency:'MXN' }}</td>
            </tr>
            <tr>
                <td>{{ price }}</td>
                <td>currency:'USD'</td>
                <td>{{ price | currency:'USD' }}</td>
            </tr>
            <tr>
                <td>{{ price }}</td>
                <td>currency:'EUR'</td>
                <td>{{ price | currency:'EUR' }}</td>
            </tr>
            <tr>
                <td>{{ user }}</td>
                <td>json</td>
                <td>
                    <pre>
                        {{ user | json }}
                    </pre>
                </td>
            </tr>
            <tr>
                <td>{{ date }}</td>
                <td>date:'short'</td>
                <td>{{ date | date:'short' }}</td>
            </tr>
            <tr>
                <td>{{ date }}</td>
                <td>date:'medium'</td>
                <td>{{ date | date:'medium' }}</td>
            </tr>
            <tr>
                <td>{{ date }}</td>
                <td>date:'long'</td>
                <td>{{ date | date:'long' }}</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>mipipe</td>
                <td>{{ name | mipipe:'?' }}</td>
            </tr>
        </tbody>
    </table>
</div>